/* Tag Selectors) */
html {
    background-color: rgb(127, 154, 107);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    margin: 0;
}

header {
    padding: 12px;
}

footer {
    background-color: burlywood;
    margin-top: 24px;
    padding: 24px;
}

main {
    max-width: 800px;
    margin: auto;
}

input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

button {
    padding: 12px;
    font-size: 110%;
}


/* Class Selectors */
.main-page-book-review {
    background-color: rgb(116, 161, 89);
    border: 1px solid lightblue;
    padding: 24px;
}

.book-cover {
    width: 200px;
    height: auto;
}

.book-review-form {
    background-color: white;
    padding: 24px;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}

.detail-page-book-review {
    background-color: white;
    padding: 24px;
}

.form-container {
    display: grid;
    grid-area: 1 6 / 1 3;
    max-width: 600px;
    padding: 24px;

    background-color: rgb(108, 169, 183);
}

.form-list {
    text-align: top;
}

/* IDs */
#submit-button {
    max-width: 100px;
}
